*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle.properties

.sonarlint/
.sonar/
.scannerwork/

*.apk
*.aar
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

*.log

.navigation/

captures/

*.jks
*.keystore
*.asc

.cxx/

gen-external-apklibs
output.json
.idea/*
!.idea/fileTemplates
!.idea/file.template.settings.xml

modules.xml
.idea/misc.xml
*.ipr

gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

**/build/

.signing/
/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*~
*.swp

obj/

/out/

.DS_Store?

.classpath
.project
.cproject
.settings/

.mtj.tmp/

!/gradle/wrapper/gradle-wrapper.jar
